<a href="https://colab.research.google.com/github/pojakgol/machine-learning-bootcamp/blob/main/supervised/02_regression/07_regression_metrics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

np.random.seed(42)

In [2]:
y_true = 100 + 20 * np.random.randn(50)
y_true

array([109.93428306,  97.23471398, 112.95377076, 130.46059713,
        95.31693251,  95.31726086, 131.58425631, 115.34869458,
        90.61051228, 110.85120087,  90.73164614,  90.68540493,
       104.83924543,  61.73439511,  65.50164335,  88.75424942,
        79.74337759, 106.28494665,  81.83951849,  71.75392597,
       129.31297538,  95.48447399, 101.35056409,  71.50503628,
        89.11234551, 102.21845179,  76.98012845, 107.51396037,
        87.9872262 ,  94.166125  ,  87.96586776, 137.04556369,
        99.73005551,  78.84578142, 116.45089824,  75.583127  ,
       104.1772719 ,  60.80659752,  73.43627902, 103.93722472,
       114.7693316 , 103.42736562,  97.68703435,  93.97792609,
        70.42956019,  85.60311583,  90.78722458, 121.14244452,
       106.87236579,  64.73919689])

In [3]:
y_pred = y_true + 10 * np.random.randn(50)
y_pred

array([113.17512275,  93.38389117, 106.18455076, 136.57736002,
       105.62692773, 104.63006205, 123.19208108, 112.25657082,
        93.9231466 , 120.60665214,  85.93990377,  88.82881516,
        93.77589569,  49.77232887,  73.62690157, 102.3166497 ,
        79.02327638, 116.32027563,  85.45587874,  65.30272843,
       132.92693143, 110.86483965, 100.9923037 ,  87.15147283,
        62.91489447, 110.43747684,  77.85059913, 104.52388686,
        88.90483397,  74.29043586,  85.76914888, 140.61668941,
       114.50899595,  73.66307924, 108.36596221,  70.56555656,
       113.33129308,  64.09410862,  68.13867698, 109.06989905,
       115.74010709, 113.11381553,  90.66650341,  90.70130462,
        66.50847866,  70.96796635,  93.74842735, 123.75299725,
       106.92350036,  62.39332556])

In [4]:
results = pd.DataFrame(data={'y_true': y_true, 'y_pred': y_pred})
results.head()

       y_true      y_pred
0  109.934283  113.175123
1   97.234714   93.383891
2  112.953771  106.184551
3  130.460597  136.577360
4   95.316933  105.626928

In [5]:
results['error'] = results['y_true'] - results['y_pred']
results['error_squared'] = results['error'] ** 2
results.head()

       y_true      y_pred      error  error_squared
0  109.934283  113.175123  -3.240840      10.503042
1   97.234714   93.383891   3.850823      14.828836
2  112.953771  106.184551   6.769220      45.822339
3  130.460597  136.577360  -6.116763      37.414788
4   95.316933  105.626928 -10.309995     106.296002

In [6]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_true, y_pred)

6.791794588005249

In [7]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_true, y_pred)

74.9471459408194